/*  TOC
*   ──────────────────────────────────
*   01 Primary
*   02 Secondary
*   03 Text
*   04 Hug
*   05 Icon
*   06 Button sizes
*   06 Button shape
*   ────────────────────────────────── */

/* 01 Primary */
.primary {
  --bg: linear-gradient(hsl(228 94% 67%), hsl(228 81% 59%));
  --border: hsl(228 89% 63%);
  --text: hsl(228 89% 100%);
  --ink-shadow: 0 1px 0 hsl(228 57% 50%);
  --highlight: hsl(228 94% 67% / 20%);
  --icon-color: currentColor;

  &:hover {
    --bg: linear-gradient(hsl(228 94% 67%), hsl(228 81% 49%));
  }
}

/* 02 Secondary */
.secondary {
  --bg: transparent;
  --ink-shadow: 0 1px 0 hsl(228 57% 50%);
}

/* 03 Plain */
.plain {
  --bg: transparent;
  --border: none;
  --ink-shadow: 0 1px 0 hsl(228 57% 50%);
  --highlight: 0;
}
/* 04 Hug */
.hug {
  --padding-inline: 0;
  --height: fit-content;
  line-height: var(--font-lineheight-1);
}

/* 05 Custom */
.custom {
  --bg: hsl(var(--gray-6-hsl) / 20%);
  --border: transparent;
  --border-width: 0;
  /* --text: hsl(228 89% 100%); */
  --ink-shadow: 0 1px 0 hsl(228 10% 70%);
}

/* 05 Button icon only */
.icon-button {
  aspect-ratio: var(--ratio-square);
  --padding-inline: var(--size-1);
  --padding-block: var(--size-1);
}

/* 06 Button sizes */
.xl {
  --size: 2rem;
}
.lg {
  --size: 1.5rem;
}
.md {
  --size: 1rem;
}
.sm {
  --size: 0.75rem;
}
.xs {
  --size: 0.5rem;
}

/* 07 Button shape */
.square {
  --radius: 0;
}
.pill {
  --radius: 3rem;
}
.circle {
  --radius: 100%;
  --padding-inline: 1.25ch;
}
