main.container {
  padding-inline: max(1.5rem, calc(50vw - var(--size-content, 90em) / 2));
}

.grid-columns {
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(var(--columns, 12), 1fr);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}
