:where(html) {
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;

  --size-xs: 0.25rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-xxl: 1.75rem;
  --size-3xl: 2rem;
  --size-4xl: 3rem;
  --size-5xl: 4rem;
  --size-6xl: 5rem;
  --size-7xl: 7.5rem;
  --size-8xl: 10rem;
  --size-9xl: 15rem;
  --size-10xl: 20rem;
  --size-11xl: 30rem;

  --size-fluid-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --size-fluid-sm: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

  --size-fluid-1: clamp(0.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);

  --size-fluid-md: clamp(0.5rem, 1vw, 1rem);
  --size-fluid-lg: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-xl: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-xxl: clamp(2rem, 4vw, 3rem);
  --size-fluid-3xl: clamp(4rem, 5vw, 5rem);
  --size-fluid-4xl: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-5xl: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-6xl: clamp(10rem, 20vw, 15rem);
  --size-fluid-7xl: clamp(15rem, 30vw, 20rem);
  --size-fluid-8xl: clamp(20rem, 40vw, 30rem);

  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;
  --size-content-4: 75ch;
  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;

  --size-container-xxs: 240px;
  --size-container-xs: 360px;
  --size-container-sm: 480px;
  --size-container-md: 768px;
  --size-container-lg: 1024px;
  --size-container-xl: 1440px;
  --size-container-xxl: 1920px;

  --size-relative-000: -0.5ch;
  --size-relative-00: -0.25ch;
  --size-relative-1: 0.25ch;
  --size-relative-2: 0.5ch;
  --size-relative-3: 1ch;
  --size-relative-4: 1.25ch;
  --size-relative-5: 1.5ch;
  --size-relative-6: 1.75ch;
  --size-relative-7: 2ch;
  --size-relative-8: 3ch;
  --size-relative-9: 4ch;
  --size-relative-10: 5ch;
  --size-relative-11: 7.5ch;
  --size-relative-12: 10ch;
  --size-relative-13: 15ch;
  --size-relative-14: 20ch;
  --size-relative-15: 30ch;

  --size-relative-xs: 0.25ch;
  --size-relative-sm: 0.5ch;
  --size-relative-md: 1ch;
  --size-relative-lg: 1.25ch;
  --size-relative-xl: 1.5ch;
  --size-relative-xxl: 1.75ch;
  --size-relative-3xl: 2ch;
  --size-relative-4xl: 3ch;
  --size-relative-5xl: 4ch;
  --size-relative-6xl: 5ch;
  --size-relative-7xl: 7.5ch;
  --size-relative-8xl: 10ch;
  --size-relative-9xl: 15ch;
  --size-relative-10xl: 20ch;
  --size-relative-11xl: 30ch;
}
